<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="regionId" value="cn-hangzhou" />
        <add key="accessKeyId" value="" />
        <add key="accessKeySecret" value="" />
        <add key="domains" value="" />
        <add key="ttl" value="60" />
    </appSettings>
</configuration>
